@import './node_modules/pikaday/css/pikaday.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
h1{
    font-size: 50px;
    margin: 30px 0px;

}

#container {
    border: 3px solid;
    padding: 20px;
    width: 50%;
}

.itemContainer {
    margin-bottom: 10px;
}
#areaText{
    height: 300px;
    width: 400px;
    
}
.btn{
    padding: 10px;
    width: 100px;
    margin: 10px 20px;
}